<div class="modal-header">
    <h1 class="modal-title"> Category Create Form</h1>
</div>

<form id="CategoryCreateTable" style="overflow: auto">
    <div class="modal-body">
        <div class=" form-group">
            <label for="Name">Name</label>
            <input id="name" type="text" name="Name" class="form-control" />
        </div>
        <div class=" form-group">
            <label for="Name">Description</label>
            <input id="description" type="text" name="Description" class="form-control" />
        </div>
        <div class=" form-group">
            <label for="CategoryPictures" class="btn btn-warning" style="cursor:pointer">Add Picture</label>
            <span id="picLength" class="badge badge-warning p-1"></span>
            <input id="uploadCategoryPic" type="file" name="CategoryPictures" class="form-control" accept=".png,.jpg" />
            <input type="hidden" id="pictureId" name="CategoryPictures" />
            <div id="picArea"></div>
        </div>
    </div>
    <div id="errorDiv"class="form-group alert alert-danger" style="display:none">

    </div>
    <div class="modal-footer">
        <button id="cancelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="CategorySaveBtn" type="button" class="btn btn-primary">Save changes</button>
    </div>
</form>

<script>
    $("#CategoryCreateTable").validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 150
            },
            Description: {
                required: true,
                minlength: 5,
                maxlength: 700,
            },
            CategoryPictures: {
                required: true,
               
            }
        },
        messages: {
            Title: {
                required: "Name is rquired.",
                minlength: "Minmum length is 15",
                maxlength: "Maximum length is 150"
            },
            Description: {
                required: "Description is rquired.",
                minlength: "Minmum length is 5",
                maxlength: "Maximum length is 700"
            },
            CategoryPictures: {
                required: "This page needs an image",
                
            },
        },
        errorClass: "text-danger"
    })

    $("#uploadCategoryPic").change(function () {
        
        var picture = this.files;
        var picsLength = picture.length;
        var picsData = new FormData();
        for (var i = 0; i < picsLength; i++) {
            picsData.append("picture", picture[i]);
        }
        var allpic = $("#picArea > img").length;
       
        if (allpic<=0) {
            
            $.ajax({
                type: "post",
                url: '@Url.Action("UploadPictures", "Shared")',
                data: picsData,
                dataType: "json",
                processData: false,
                contentType: false
            })
                .done(function (response) {
                    for (var i = 0; i < response.length; i++) {
                        var picResponse = response[i];
                        AttachNewImage(picResponse.id, picResponse.url);
                    }

                    var count = $("#picArea > img").length;
                    $("#picLength").empty();
                    $("#picLength").append(count + " pictures. ");
                    $("#piclength").show();

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }
        else {
            $("#errorDiv").html(" 1 Picture for category!");
            $("#errorDiv").show();
        }
    });

    $("#CategorySaveBtn").click(function () {
        if ($("#CategoryCreateTable").valid())
        {
            var picIds = [];
            $("#picArea .image").each(function () {
                var picId = $(this).attr("data-id");
                picIds.push(picId);
            });
            $("#pictureId").val(picIds);

            $.ajax({
                type: 'post',
                url: '@Url.Action("Create","Categories")',
                data: $("#CategoryCreateTable").serialize(),
            })
                .done(function (response) {
                    if (response.success) {
                        window.location.href='@Url.Action("Index","Categories")',
                        $("#FormModel").modal('hide');
                    }
                    else {
                        $("#errorDiv").html(response.message);
                        $("#errorDiv").show();
                    }
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }
    })
</script>