@model Khawla.Web.ViewModels.HomeViewModel

@if (Model != null && Model.AllCategory.Count > 0)
{
    <div class="col-lg-3">
        <div class="hero__categories">
            <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span class="categoryDrop">All departments</span>
            </div>
            <ul>
                @foreach (var category in Model.AllCategory)
                {
                    <li><a href="@Url.Action("Index", "Shop", new {categoryID=category.ID})">@category.Name</a></li>
                }


            </ul>
        </div>
    </div>
}