@model Khawla.Web.ViewModels.HomeViewModel


<div class="hero__search__form">
    <form action="#">
        <div class="hero__search__categories">
            All Categories
            <span class="arrow_carrot-down"></span>
        </div>
        <input type="text"id="searchTxt" name="search" placeholder="What do yo u need?"value="@Model.SearchTerm">
        <button type="button"id="searchBtn" class="site-btn">SEARCH</button>
    </form>
</div>
<script>
    $("#searchBtn").click(function () {
        $("#SubCategoryID").val('');
        $.ajax({
            type:'get',
            url: '@Url.Action("FilterProducts", "Shop")',
            data: {
                searchTerm: $("#searchTxt").val(),
                
               /* categoryID: $("#CategoryID").val(),*/
                
            }
        })
            .done(function (response) {
                resetSlider();
                $("#productsDiv").html(response);
                $('html,body').animate({
                    scrollTop: $(".TotalproductDiv").offset().top
                },
                    1500);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
</script>